:root {
    --color-dark: #2D3943;
    --color-light: #f0f0f0;
    --color-main: #2b87d3;
    --color-danger: #F62451;
    --color-success: #1fd78d;
    --color-warn: #EB7B59;
    --color-loading: #A4A4A4;
    --color-dark-mode: #161c21;
    --color-dark-text: #47535D;
    --color-dark-mark: #40505c;
    --color-dark-hover: #47535D;
}

*, html, body {
    margin: 0; 
    padding: 0;
    background-color: var(--color-dark);
}

#container {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
}

#container .shortcutRow {
    width: 170px;
}

#container .shortcutRow .shortcutBtn {
    color: var(--color-main);
    width: 100px;
    height: 20px;
    background-color: var(--color-dark);
    margin-top: 2px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container .shortcutRow .shortcutBtn:hover {
    border: 2px solid var(--color-main);
}

#container .shortcutRow .shortcutEdit {
    color: var(--color-warn);
    width: 40px;
    height: 20px;
    background-color: var(--color-dark);
    margin-top: 2px;
    margin-left: 5px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container .shortcutRow .shortcutEdit:hover {
    border: 2px solid var(--color-warn);
}

#container .shortcutRow .shortcutDelete {
    color: var(--color-danger);
    width: 20px;
    height: 20px;
    background-color: var(--color-dark);
    margin-top: 2px;
    margin-left: 5px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container .shortcutRow .shortcutDelete:hover {
    border: 2px solid var(--color-danger);
}

#container #newShortcutButton {
    width: 170px;
    height: 20px;
    color: var(--color-success);
    background-color: var(--color-dark);
    margin-top: 2px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container #newShortcutButton:hover {
    border: 2px solid var(--color-success);
}