/* farb codes copied from aternos.org */
:root {
    --color-dark: #2D3943;
    --color-light: #f0f0f0;
    --color-main: #2b87d3;
    --color-danger: #F62451;
    --color-success: #1fd78d;
    --color-warn: #EB7B59;
    --color-loading: #A4A4A4;
    --color-dark-mode: #161c21;
    --color-dark-text: #47535D;
    --color-dark-mark: #40505c;
    --color-dark-hover: #47535D;
}

*, html, body {
    margin: 0; 
    padding: 0;
    background-color: var(--color-dark);
}

#container {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
}

#container .shortcutRow {
    width: 250px;
}

#container .shortcutRow .shortcutBtn {
    color: var(--color-main);
    width: 180px;
    height: 20px;
    background-color: var(--color-dark);
    margin-top: 2px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container .shortcutRow .shortcutBtn:hover {
    border: 2px solid var(--color-main);
}

#container .shortcutRow .shortcutEdit {
    color: var(--color-warn);
    width: 40px;
    height: 20px;
    background-color: var(--color-dark);
    margin-top: 2px;
    margin-left: 5px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container .shortcutRow .shortcutEdit:hover {
    border: 2px solid var(--color-warn);
}

#container .shortcutRow .shortcutDelete {
    color: var(--color-danger);
    width: 20px;
    height: 20px;
    background-color: var(--color-dark);
    margin-top: 2px;
    margin-left: 5px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container .shortcutRow .shortcutDelete:hover {
    border: 2px solid var(--color-danger);
}

#container .dropdownContentHidden {
    display: none;
}

#container .dropdownContentShown {
    display: inline-block;
    background-color: var(--color-dark);
}


#container .shortcutRowContent {
    width: 250px;
}

#container .shortcutRowContent .shortcutAddressInput {
    width: 190px;
    height: 20px;
    color: var(--color-light);
    background-color: var(--color-dark);
    margin-top: 1px;
    display: inline-block;
    border: 1px solid var(--color-light);
    padding-left: 5px;
}

#container .shortcutRowContent .shortcutAddressInput:focus {
    border: 2px solid var(--color-light);
}

#container .shortcutRowContent .shortcutAddressSaver {
    width: 20px;
    height: 20px;
    background-color: var(--color-dark);
    color: var(--color-success);
    margin-top: 1px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid var(--color-light);
}

#container .shortcutRowContent .shortcutAddressSaver:hover {
    border: 2px solid var(--color-success);
}

#container .shortcutRowContent .shortcutAddressDelete {
    width: 20px;
    height: 20px;
    background-color: var(--color-dark);
    color: var(--color-danger);
    margin-top: 1px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid var(--color-light);
}

#container .shortcutRowContent .shortcutAddressDelete:hover {
    border: 2px solid var(--color-danger);
}

#container .shortcutAddressAdder {
    width: 250px;
    height: 20px;
    color: var(--color-loading);
    background-color: var(--color-dark);
    margin-top: 1px;
    display: inline-block;
    border: 1px solid var(--color-light);
}

#container .shortcutAddressAdder:hover {
    border: 2px solid var(--color-loading);
} 

#container #newShortcutButton {
    width: 250px;
    height: 20px;
    color: var(--color-success);
    background-color: var(--color-dark);
    margin-top: 2px;
    border: 1px solid var(--color-light);
    display: inline-block;
}

#container #newShortcutButton:hover {
    border: 2px solid var(--color-success);
}
